<form role="form">
  <div>
    <p>Type of inside sales team:</p>
    <div class="radio">
      <label>
        <input type="radio" name="team" value="Inbound LDR"> Inbound LDR
      </label>
    </div>
    <div class="radio"> 
      <label>
        <input type="radio" name="team" value="Outbound LDR"> Outbound LDR
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="team" value="Mixed Inbound/Outbound LDR"> Mixed Inbound/Outbound LDR
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="team" value="Integrated -- Lead-to-Close"> Integrated -- Lead-to-Close
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="team" value="Closers Only"> Closers Only
      </labe>
    </div>
  </div>

  <div>
    <div class="form-group">
      How many team members? <input type="number" name="numReps">
    </div>
    <div class="form-group">
      Average deals closed per rep per week: <input type="number" name="">
    </div>
    <div class="form-group">
      Average deal size: <input type="number" name="">
    </div>
    <div class="form-group">
      If LDR team, please indicate close rate for opportunities <input type="number" name="">
    </div>
    <div class="form-group">
      Quota <input type="number" name="">
    </div>
    <div class="form-group">
      Percentage of reps meeting or exceeding quota <input type="number" name="">%
    </div>
  </div>

  <h2>Phase 2</h2>

  <div>
    <p>Industry</p>
    <select class="form-control">
      <option>Tourism</option>
      <option>Food Services</option>
      <option>Railroads</option>
      <option>Sales</option>
      <option>Hospitals/Manufacturing</option>
      <option>Air Travel</option>
    </select>
  </div>

  <div>
    <p>What percentage of deals are sourced by marketing?</p>
    <select class="form-control">
      <option>0-25%</option>
      <option>26-50%</option>
      <option>51-75%</option>
      <option>76-100%</option>
    </select>
  </div>

  <div>
    <p>How long is your sales cycle? (days)</p>
    <select class="form-control">
      <option>0-30</option>
      <option>31-50</option>
      <option>51-75</option>
      <option>76-100</option>
    </select>
  </div>

  <div>
    <p>Is there room to increase your volume of calls or emails?</p>
    <div class="radio">
      <label>
        <input type="radio" name="increase-calls" value="yes"> Yes
      </label>
    </div>
    <div class="radio"> 
      <label>
        <input type="radio" name="increase-calls" value="no"> No
      </label>
    </div>
  </div>

  <div>
    <p>Is there room to improve the quality of leads you work on?</p>
    <div class="radio">
      <label>
        <input type="radio" name="improve-leads" value="yes"> Yes
      </label>
    </div>
    <div class="radio"> 
      <label>
        <input type="radio" name="improve-leads" value="no"> No
      </label>
    </div>
  </div>

  <div>
    <p>Is there room to increase you engagement rate with customers?</p>
    <div class="radio">
      <label>
        <input type="radio" name="increase-engagement" value="yes"> Yes
      </label>
    </div>
    <div class="radio"> 
      <label>
        <input type="radio" name="increase-engagement" value="no"> No
      </label>
    </div>
  </div>

  <div>
    <p>Is there room to increase your conversion rate?</p>
    <div class="radio">
      <label>
        <input type="radio" name="increase-conversion" value="yes"> Yes
      </label>
    </div>
    <div class="radio"> 
      <label>
        <input type="radio" name="increase-conversion" value="no"> No
      </label>
    </div>
  </div>

  <div>
    <p>Is there room to increase your quota attainment?</p>
    <div class="radio">
      <label>
        <input type="radio" name="increase-quota" value="yes"> Yes
      </label>
    </div>
    <div class="radio"> 
      <label>
        <input type="radio" name="increase-quota" value="no"> No
      </label>
    </div>
  </div>

  <h2>Phase 3</h2>

  <div class="form-group">
    Company Name <input type="text" name="">
  </div>

  <div>
    <p>Selling to:</p>
    <div class="radio-inline">
      <label>
        <input type="radio" name="increase-conversion" value="B2C"> B2C
      </label>
    </div>
    <div class="radio-inline"> 
      <label>
        <input type="radio" name="increase-conversion" value="B2B"> B2B
      </label>
    </div>
    <select class="form-control">
      <option>Small Business</option>
      <option>MidMarket</option>
      <option>Enterprise</option>
    </select>
  </div>

</form>